@CHARSET "UTF-8";

html,body {
	font-size: 12px;
	padding: 0;
	margin: 0;
	border: 0;
	height: 100%;
	overflow: hidden;
}

.search_table {
	color: #367eca !important;
    background: #f5f9fd !important;
    border-collapse: collapse !important;
    font: 12px "宋体",Arial,"微软雅黑" !important;
}
.search_table th, .search_table td {
    line-height: 230% !important;
    border: 1px solid #cadef6 !important;
    padding: 5px !important !important;
}
.search_table th {
    background: #deecfd !important;
    text-align: right !important;
    color: #498ed7 !important;
    width: 160px !important;
}

.description {
	padding-bottom: 5px;
	font-family: Verdana;
}

.description h3 {
	color: #498ed7;
	font-size: 12px;
	margin: 0 30px 10px 0px;
	padding: 5px 5px;
	border-bottom: solid 1px #888;
}

ul,li{
	list-style:none;
}
.search_box ul{
	float:left;
	width:300px;
    margin:5px 0 5px 0;
    padding-left:20px;
   
} 
.search_box ul li{
	float:left;
} 
.search_li{
	width:80px;
	
}