



body .mini-toolbar a.mini-button-disabled, body .mini-toolbar a:hover.mini-button-disabled
{ 
	border:1px solid #ccc;
    padding:0px;
    color:#777;    
    cursor:default;
}


.mini-fileupload .mini-buttonedit-border
{
	padding-right: 54px !important;
}
.mini-htmlfile .mini-buttonedit-border
{
	padding-right: 54px !important;
}

.mini-disabled .mini-grid-column-splitter
{
	display:none;
}

.mini-textbox-input
{
	background:url(about:blank) no-repeat\0 !important;
}