@charset "utf-8";
/* CSS Document */
input{outline:none;}
body,html{height:100%;width:100%;margin:0;padding:0;font-family:"微软雅黑";}
body{background-color:#eef4fc;}
ul,li{list-style-type:none;margin:0;padding:0;}

.clearfix{clear:both;}
.font_c1{color:#f34040;}
.margin_t1{margin-top:36px;}
.margin_l1{margin-left:0.5%;}
.detail_btn{color:#0650bd;font-weight:bold;}


.main_box{width:99%;height:25%;margin-left:0.5%;overflow:hidden;}
.nav_box{width:100%;height:42px;background-color:#ffffff;margin-top:0.5%;padding-top:10px;}
.search_box{height:23px;width:20%;border:2px #3796e8 solid;float:left;margin-left:2%;border-radius:4px;}
.search{height:24px;width:80%;margin-top:2px;margin-left:10px;border:none;float:left;}
.search_btn{width:10%;height:100%;background-color:#3796e8;float:right;background-image:url(../images/search.png);background-repeat:no-repeat;background-position:center center;}
.nav{width:50%;float:right;}
.nav span{width:70px;height:16px;float:left;font-size:16px;line-height:15px;margin-left:10px;padding-right:10px;margin-top:8px;color:#4b4a4b;cursor:pointer;}
.nav span:hover{color:#3796e8;}
.border_r1{border-right:2px #4b4a4b solid;}

.content_box{width:49%;float:left;height:100%;}
.title{font-size:16px;line-height:36px;width:98%;margin:0 auto;color:#4b4a4b;border-left:4px #158bd1 solid;padding-left:6px;}
.detail_btn{float:right;margin-right:1%;cursor:pointer;font-size:15px;}
.content{width:80%;margin-left:1%;color:#333232;font-size:14px;line-height:26px;color:#484a4c;margin-left:10px;display:block;}
.content_c{height:100%;background-color:#ffffff;}
.content_t{color:#4b4a4b;font-size:16px;line-height:32px;margin-left:10px;}
.content_t1{color:#4b4a4b;font-size:14px;line-height:26px;margin-left:10px;}
.content_bg{padding-left:20px;background-image:url(../images/arrow.png);background-repeat:no-repeat;background-position:1px 5px;}
.content_t1{font-size:14px;margin-left:10px;color:#484a4c;}

.first_box{width:99%;height:100%;margin-left:0.5%;overflow:hidden;background-color:#edf4fc;}
.second_box{width:98%;height:25%;margin-left:0.5%;overflow:hidden;}
